<p id="notice"><%= notice %></p>

<h1>Sepet listesi</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= link_to 'Göster', cart %></td>
        <td><%= link_to 'Düzenle', edit_cart_path(cart) %></td>
        <td><%= link_to 'Sil', cart, method: :delete, data: { confirm: 'Emin misiniz?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Yeni Sepet', new_cart_path %>
